---
title: Kontakt und Mitarbeit
layout: layouts/_page.ejs
lang: de
---


<section class="max-w-3xl">

	<div class="box box-cta">
	<h3>Kontakt</h3>
		<p>E-Mail: info [ät] bits-und-baeume.org</p>
		<div class="box__pixel">
			<img src="{{ site.url }}/assets/images/pixel-box-links.svg" alt="box" width="50" height="50">
		</div>
	</div>

</section>

<section class="max-w-3xl">

	<div class="box box-cta">
	<h3>Bits & Bäume Koordinationsstelle</h3>
		<p>
			Maximilian Jung</br>
			Bits & Bäume Koordinator</br>
			E-Mail: maximilian.jung [ät] bits-und-baeume.org </br>
			+49 (0)30 / 577132-859</br> 
			</br>
			Bits & Bäume Koordinationsstelle</br>
			Stresemannstr. 72</br>
			D-10963 Berlin
		</p>
		<div class="box__pixel">
			<img src="/assets/images/pixel-box-links.svg" alt="box" width="50" height="50">
		</div>
	</div>

</section>



<section class="max-w-3xl">
	<h3>Mach mit!</h3>

	<div class="box box-links">
		<p>Es gibt verschiedene Möglichkeiten, um bei uns mitzumachen. Für mehr Infos, schau mal</p>
		<ul>
			<li><a href="https://matrix.to/#/#bitsundbaeume:matrix.org">in unserem Community Matrix</a>,</li>
			<li><a href="https://twitter.com/bitsundbaeume/">bei Twitter</a>,</li>
			<li><a href="https://mastodon.bits-und-baeume.org/@bits_und_baeume">Mastodon</a>,</li>
			<li>oder im <a href="https://discourse.bits-und-baeume.org/">discourse Forum</a>vorbei,</li>
			<li>komm zum monatlichen <a href="https://wiki.bits-und-baeume.org/community-treffen/">Online Community Treffen</a>,</li>
			<li>schreib eine Mail an info {ät} bits-und-baeume.org </li>
			<li>oder lass dich auf unserem <a href="https://lists.bits-und-baeume.org/postorius/lists/community.lists.bits-und-baeume.org/">Newsletter</a> eintragen.</li>

		</ul>

		<div class="box__pixel">
			<img src="{{ site.url }}/assets/images/pixel-box-links.svg" alt="box" width="50" height="50">
		</div>
	</div>

</section>


