<div class="footer__pixel">
	<img src="<%= site.url %>/assets/images/pixel-footer-left.svg"
		alt="box" width="60"
		height="50"
	>
</div>
<div class="footer__pixel right">
	<img src="<%= site.url %>/assets/images/pixel-footer-right.svg"
		alt="box" width="90"
		height="40"
	>
</div>
<div class="container mx-auto md:max-w-screen-xl grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4">

	<div class="py-4">
		<a class="hover:no-underline hover:bg-opacity-0" href="<%= site.url %>/">
			<img class="inline-block hover:scale-105 hover:transform-gpu duration-50" src="<%= site.url %>/assets/images/bits-und-baeume-logo_CCBY-schauschau.cc.svg" alt="Logo Bits & Bäume">
		</a>
	</div>

	<div class="py-4 md:py-0">
		<nav class="nav-menu text-l w-full">
			<ul class="pb-2 mb-0 flex flex-col content-left mx-8">
			<li><a href="<%= site.url %>/konferenz-2022/">B&B Konferenz 2022</a></li>
			<li><a href="https://twitter.com/bitsundbaeume">#bitsundbaeume22</a></li>
			</ul>
		</nav>
		<div class="flex flex-row justify-between py-4 w-36 mx-8">
			<div>
			<p>Social:</p>
			</div>
			<div>
			<a rel="me noopener" href="https://mastodon.bits-und-baeume.org/@bits_und_baeume"">
				<img class="w-8 hover:scale-105 hover:transform-gpu duration-50" src="<%= site.url %>/assets/images/mastodon-logo.svg" alt="Mastodon-Logo">
			</a>
			</div>
			<div>
			<a href="https://twitter.com/bitsundbaeume">
				<img class="w-8 hover:scale-105 hover:transform-gpu duration-50" src="<%= site.url %>/assets/images/twitter-logo.svg" alt="Twitter-Logo">
			</a>
			</div>
		</div>
	</div>

	<div class="py-4 md:py-0">
		<nav class="nav-menu text-l w-full">
			<ul class="pb-2 flex flex-col content-left mx-8">
			<li><a href="<%= site.url %>/impressum/">Impressum</a></li>
			<li><a href="<%= site.url %>/datenschutz/">Datenschutz</a></li>
		<!--	<li><a href="<%= site.url %>/error_placeholder/">Klimafreundliche Website</a></li>-->
			</ul>
		</nav>
	</div>


</div>

<section class="max-w-7xl">
	<h3>Die Organisationen des Trägerkreises</h3>
	<br><br>

</section>

<section class="container max-w-7xl">

	<div class="wrapper relative ">
		<div class="tiles flex flex-wrap container max-w-7xl m-auto relative -top-24">

			<div class="w-full md:w-1/2 lg:w-1/4 flex flex-col">
				<div class="mx-4 md:mr-4 flex-1 flex flex-col">
					<div class="flex-1">
						<a href="https://www.dnr.de" target="_blank">
						<img class="carpet-logo" src="<%= site.url %>/assets/images/traegerinnen_logos/dnr.svg" title="Deutscher Naturschutzring">
						</a>
					</div>
				</div>
			</div>

			<div class="w-full md:w-1/2 lg:w-1/4 flex flex-col">
				<div class="mx-4 md:mr-4 flex-1 flex flex-col">
					<div class="flex-1">
						<a href="https://www.ioew.de" target="_blank">
						<img class="carpet-logo" style="max-height:130px; min-height:100px;" src="<%= site.url %>/assets/images/traegerinnen_logos/ioew.svg" title="Institut für ökologische Wirtschaftsforschung">
						</a>
					</div>
				</div>
			</div>

			<div class="w-full md:w-1/2 lg:w-1/4 flex flex-col">
				<div class="mx-4 md:mr-4 flex-1 flex flex-col">
					<div class="flex-1">
						<a href="http://www.tu-berlin.de" target="_blank">
						<img class="carpet-logo" style="max-height:130px; padding-bottom:20px;" src="<%= site.url %>/assets/images/traegerinnen_logos/tu-berlin.svg" title="Technische Universität Berlin">
						</a>
					</div>
				</div>
			</div>

			<div class="w-full md:w-1/2 lg:w-1/4 flex flex-col">
				<div class="mx-4 md:mr-4 flex-1 flex flex-col">
					<div class="flex-1">
						<a href="http://germanwatch.org" target="_blank">
						<img class="carpet-logo" src="<%= site.url %>/assets/images/traegerinnen_logos/germanwatch.svg" title="Germanwatch e.V.">
						</a>
					</div>
				</div>
			</div>

			<div class="w-full md:w-1/2 lg:w-1/4 flex flex-col">
				<div class="mx-4 md:mr-4 flex-1 flex flex-col">
					<div class="flex-1">
						<a href="https://www.bund.net" target="_blank">
						<img class="carpet-logo" src="<%= site.url %>/assets/images/traegerinnen_logos/bund.svg" title="BUND">
						</a>
					</div>
				</div>
			</div>

			<div class="w-full md:w-1/2 lg:w-1/4 flex flex-col">
				<div class="mx-4 md:mr-4 flex-1 flex flex-col">
					<div class="flex-1">
						<a href="https://www.brot-fuer-die-welt.de" target="_blank">
						<img class="carpet-logo" src="<%= site.url %>/assets/images/traegerinnen_logos/logo-brot-fuer-die-welt.svg" title="Brot für die Welt">
						</a>
					</div>
				</div>
			</div>

			<div class="w-full md:w-1/2 lg:w-1/4 flex flex-col">
				<div class="mx-4 md:mr-4 flex-1 flex flex-col">
					<div class="flex-1">
						<a href="https://www.ccc.de" target="_blank">
						<img class="carpet-logo" style="max-height:130px; padding-bottom:20px;" src="<%= site.url %>/assets/images/traegerinnen_logos/ccc.svg" title="Chaos Computer Club">
						</a>
					</div>
				</div>
			</div>

			<div class="w-full md:w-1/2 lg:w-1/4 flex flex-col">
				<div class="mx-4 md:mr-4 flex-1 flex flex-col">
					<div class="flex-1">
						<a href="https://www.fiff.de" target="_blank">
						<img class="carpet-logo" src="<%= site.url %>/assets/images/traegerinnen_logos/fiff-schwarz.svg" title="Forum InformatikerInnen für Frieden und gesellschaftliche Verantwortung">
						</a>
					</div>
				</div>
			</div>

			<div class="w-full md:w-1/2 lg:w-1/4 flex flex-col">
				<div class="mx-4 md:mr-4 flex-1 flex flex-col">
					<div class="flex-1">
						<a href="https://www.konzeptwerk-neue-oekonomie.org" target="_blank">
						<img class="carpet-logo" src="<%= site.url %>/assets/images/traegerinnen_logos/konzeptwerk.svg" title="konzeptwerk neue ökonomie">
						</a>
					</div>
				</div>
			</div>


			<div class="w-full md:w-1/2 lg:w-1/4 flex flex-col">
				<div class="mx-4 md:mr-4 flex-1 flex flex-col">
					<div class="flex-1">
						<a href="https://www.digital-future.berlin" target="_blank">
						<img class="carpet-logo" style="max-height:130px;" src="<%= site.url %>/assets/images/traegerinnen_logos/einstein_center.svg" title="Einstein Center Digital Future">
						</a>
					</div>
				</div>
			</div>

			<div class="w-full md:w-1/2 lg:w-1/4 flex flex-col">
				<div class="mx-4 md:mr-4 flex-1 flex flex-col">
					<div class="flex-1">
						<a href="https://fsfe.org" target="_blank">
						<img class="carpet-logo" style="max-height:130px; padding:10px;" src="<%= site.url %>/assets/images/traegerinnen_logos/fsfe-cropped.svg" title="Free Software Foundation Europe">
						</a>
					</div>
				</div>
			</div>


			<div class="w-full md:w-1/2 lg:w-1/4 flex flex-col">
				<div class="mx-4 md:mr-4 flex-1 flex flex-col">
					<div class="flex-1">
						<a href="https://weizenbaum-institut.de" target="_blank">
						<img class="carpet-logo" src="<%= site.url %>/assets/images/traegerinnen_logos/weizenbaum.png" title="Weizenbaum-Institut" sizes="(min-width: 1400px) 276px, (min-width: 1040px) 20vw, (min-width: 500px) 230px, calc(44.44vw + 17px)" data-img2picture-widths="230,280,460,560">
						</a>
					</div>
				</div>
			</div>

			<div class="w-full md:w-1/2 lg:w-1/4 flex flex-col">
				<div class="mx-4 md:mr-4 flex-1 flex flex-col">
					<div class="flex-1">
						<a href="https://www.wikimedia.de" target="_blank">
						<img class="carpet-logo" src="<%= site.url %>/assets/images/traegerinnen_logos/wikimedia-deutschland.svg" title="Wikimedia Deutschland">
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="max-w-7xl">
	<h3>Unsere Themen werden verbreitet von den Medienprofis</h3>
	<br><br>

</section>

<section class="container max-w-7xl">

	<div class="wrapper relative ">
		<div class="tiles flex flex-wrap container max-w-7xl m-auto relative -top-24">
			<div class="w-full md:w-1/2 lg:w-1/4 flex flex-col">
				<div class=" mx-4 md:mr-4 flex-1 flex flex-col">
					<div class="flex-1">
						<a href="https://reset.org">
						<img class="carpet-logo" src="<%= site.url %>/assets/images/foerderinnen/logo-reset.svg">
						</a>
					</div>
				</div>
			</div>
			<div class="w-full md:w-1/2 lg:w-1/4 flex flex-col">
				<div class="mx-4 md:mr-4 flex-1 flex flex-col">
					<div class="flex-1">
						<a href="https://www.heise.de">
							<img class="carpet-logo" src="<%= site.url %>/assets/images/foerderinnen/logo-heise-online.svg" >
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


<section class="max-w-7xl">
    <h3>Besonderer Dank gilt</h3>
    <br><br>
</section>

<section class="container max-w-7xl">
    <div class="wrapper relative ">
        <div class="tiles flex flex-wrap container max-w-7xl m-auto relative -top-24">
            <div class="w-full md:w-1/2 lg:w-1/4 flex flex-col">
                <div class=" mx-4 md:mr-4 flex-1 flex flex-col">
                    <div class="flex-1">
                        <a href="https://cleaner-web.com/">
						<img class="carpet-logo" src="<%= site.url %>/assets/images/thanksto/logo-cleaner-web.svg">
                        </a>
                    </div>
                </div>
            </div>
            <div class="w-full md:w-1/2 lg:w-1/4 flex flex-col">
                <div class="mx-4 md:mr-4 flex-1 flex flex-col">
                    <div class="flex-1">
                        <a href="https://uberspace.de/">
                            <img class="carpet-logo" src="<%= site.url %>/assets/images/thanksto/logo-uberspace.svg" >
                        </a>
                    </div>
                </div>
            </div>
			<div class="w-full md:w-1/2 lg:w-1/4 flex flex-col">
                <div class="mx-4 md:mr-4 flex-1 flex flex-col">
                    <div class="flex-1">
                        <a href="https://webshaped.de">
                            <img class="carpet-logo" src="/assets/images/thanksto/logo-web-shaped.svg" >
                        </a>
                    </div>
                </div>
            </div>			
        </div>
    </div>
</section>

<section class="max-w-7xl">
	<h3>Förderung</h3>

	<p>Die Veranstaltung wird gefördert durch die <a href="https://www.dbu.de">Deutsche Bundesstiftung Umwelt (DBU)</a> und vom Bundesministerium für Umwelt, Naturschutz, nukleare Sicherheit und Verbraucherschutz (BMUV) kofinanziert. Die Arbeit von Germanwatch und des Forums InformatikerInnen für Frieden und gesellschaftliche Verantwortung (FIfF) im Rahmen der Bits & Bäume-Konferenz 2022 wird hauptsächlich gefördert durch die Stiftung Mercator.</p>
	<br><br>
</section>

<section class="container max-w-7xl">

	<div class="wrapper relative ">
		<div class="tiles flex flex-wrap container max-w-7xl m-auto relative -top-24">
			<div class="w-full md:w-1/2 lg:w-1/4 flex flex-col">
				<div class="mx-4 md:mr-4 flex-1 flex flex-col">
					<div class="flex-1">
						<a href="https://www.dbu.de">
							<img class="carpet-logo" src="<%= site.url %>/assets/images/foerderinnen/logo-dbu.png" sizes="(min-width: 1400px) 276px, (min-width: 1040px) 20vw, (min-width: 500px) 230px, calc(44.44vw + 17px)" data-img2picture-widths="230,280,460,560">
						</a>
					</div>
				</div>
			</div>
			<div class="w-full md:w-1/2 lg:w-1/4 flex flex-col">
				<div class=" mx-4 md:mr-4 flex-1 flex flex-col">
					<div class="flex-1">
						<img class="carpet-logo" src="<%= site.url %>/assets/images/foerderinnen/Stiftung_Mercator_Blau_RGB.png" sizes="(min-width: 1400px) 276px, (min-width: 1040px) 20vw, (min-width: 500px) 230px, calc(44.44vw + 17px)" data-img2picture-widths="230,280,460,560">
					</div>
				</div>
			</div>
			<div class="w-full md:w-1/2 lg:w-1/4 flex flex-col">
				<div class=" mx-4 md:mr-4 flex-1 flex flex-col">
					<div class="flex-1">
						<a href="https://www.bmuv.de/">
							<img class="carpet-logo" src="<%= site.url %>/assets/images/foerderinnen/BMUV.png" sizes="(min-width: 1400px) 276px, (min-width: 1040px) 20vw, (min-width: 500px) 230px, calc(44.44vw + 17px)" data-img2picture-widths="230,280,460,560">
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

